body{
	background-image: linear-gradient(to bottom right, #e6e6ff,pink );
	color: #191970;
	font-family: 'Open Sans Condensed', sans-serif;
}

p{
	font-size-adjust: 30px;
	font-family: 'Open Sans Condensed', sans-serif;

}

img{
	height: 60%;
	width: 60%;
}

img{
	height: 20%;
	width: 20%;
}

.Napa {
	color: blue;
}
.Austrailia{
	color: blue;
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
}
h2{
	font-family: 'Open Sans Condensed', sans-serif;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
	width : 100%; 
	background-color: white;
	overflow: hidden;
	position: fixed;
}
li {
	float:left;
}
li a {
	display:block;
	color: navy; 
	text-align:center ;
	padding:8px 16px;
	text-decoration: none;

}
li a:hover {
	background-color: black;
	color: coral;

}
.active{
	color: white;
	background-color: black;
}
.firstpagepicture{
	width:1500px;
	height:1500px;
}